streamlit==1.28.0
torch==2.2.0
soundfile==0.12.1
librosa==0.10.1
numpy==1.24.3
onnxruntime==1.17.0
scipy==1.11.3
huggingface_hub==0.21.1
transformers==4.38.2
fairseq==0.12.2
gradio==3.57.0
tqdm==4.66.1
faiss-cpu==1.7.4
